<!-- views/id.hbs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Product Search by ID</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    

    <form action="/data/search/prdID" method="post">
        <input type="text" id="product_id" name="product_id" placeholder="Enter Product">
        <button type="submit">Search</button>
    </form>

    
  </body>
</html>
