<!-- views/name.hbs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Product Search by Name</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action="/data/search/prdName" method="post">
        <input type="text" id="product_name" name="product_name" placeholder="Enter Product">
        <button type="submit">Search</button>
    </form>

   
  </body>
</html>
