<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1>{{title}}</h1>  
        <p>Student: Kimberly/N01525911</p>
    </header>
      {{{body}}} 
     <div class="content"> <!-- TO USE FOR style.css -->
        <!-- 
        <img src="/images/img.jpg" alt="Image Website and study notes" />
        <p>
            Kimberly is a student at Humber. She enjoys learning and designing dynamic web pages for clients.
            She is currently taking a course called Web Frameworks where she learned about Handlebars and layouts to design this webpage.
        </p> 
        --> <!--Step 5 Commented for using space to display Step 6 ONWARDS  -->
    </div>

     <footer>
        <p>Email: Kim.CA@xyz.com</p>
    </footer>
  </body>
</html>
